<%- include("header") -%>
<h2>About Me:</h2>
<p>I am a developer who started programming in 2020.
  Interested in backend development, webdevelopment, game development,
  mobile development and many other things.</p>
<%- include("footer") -%>
